#sidebar {
  height: 90%;
  width: 20%;
  position: relative;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}



#app {
  width: 100%;
  height: 100%;

background-color: lightgray;
position: fixed;
display:flex;
align-content: center;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

.reviews {
  background-color: darkgray;
  height: 400px;
  width: 20%;
  top: -100x;
  align-self: flex-start;
 
  
 

  
}

.website {
  background-color: darkgray;
position: fixed;
bottom: 50px;
right:50px;
width: 1345px;
height: 400px;
}

.insideWebsite {
background-color: gray;
height: 250px;
width:1000px;
align-items: center;
margin:auto;
position: relative;
right: -130px;
}


